@use 'util';

:root {
  /* Colors */
  --c-black: #000;
  --c-white: #fff;

  --c-theme-dark: #040F0F;
  --c-theme-light: #ECF8F8;
  --c-theme-seagreen: #00A6A6;
  --c-theme-orange: #F3A712;
  --c-theme-pink: #FF4365;

  /* Type */
  --ff-atkinson: 'Atkinson Hyperlegible', Tahoma, Verdana, Arial, sans-serif;
  --ff-londrina: 'Londrina Shadow', Tahoma, Verdana, Arial, sans-serif;

  /* Spacing */
  --site-padding: 1.2rem;
  --nav-width: 12.5rem;
  --content-width: 56.25rem;
  --container-width: calc(var(--content-width) + (var(--site-padding) * 2));

  /* Definitions */
  --c-primary: var(--c-theme-seagreen);
  --c-secondary: var(--c-theme-pink);
  --c-accent: var(--c-theme-orange);

  --font-color: var(--c-white);
  --background: var(--c-theme-dark);
  --nav-background: var(--c-black);

  --ff-default: var(--ff-atkinson);
  --ff-brand: var(--ff-londrina);

  /* Rules */
  color: var(--font-color);
  background: var(--background);
  background-attachment: fixed;

  font-family: var(--ff-default);
  line-height: 1.5;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

/**
 * Globals
 */
html {
  font-size: 100%;
}

body {
  width: 100%;
  font-size: 1.25rem;
  background-attachment: fixed;
}

a {
  color: inherit;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/**
 * Type
 */
p+p {
  margin-top: 1.25rem;
}

/**
 * Utility
 */
.sr-only {
  @include util.sr-only;
}

/**
 * Light Theme
 */
@include util.themeVars() {
  --font-color: var(--c-black);
  --background: var(--c-theme-light);
  --nav-background: var(--c-white);
}