:root {
  --c-christmas-green: #799351;
  --c-christmas-green-light: #A1DD70;
  --c-christmas-red: #EE4E4E;
  --c-christmas-beige: #F6EEC9;
  --grad-christmas-dark: radial-gradient(ellipse at bottom, #0a0a0a 0%, #000000 100%);

  --c-primary: var(--c-christmas-green);
  --c-primary-var: var(--c-christmas-green-light);
  --c-secondary: var(--c-christmas-red);
  --c-accent: var(--c-christmas-beige);

  background-image: var(--grad-christmas-dark);
}

/* Christmas tree */
#christmas-tree {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 361px;
  height: 555px;
  background: no-repeat center/cover url('/images/christmas-tree.webp');
  transform: scale(.75);
  transform-origin: bottom right;
  z-index: -1;
}

/* Christmas Snow */
#christmas-snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}

#christmas-snow i {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, .25));
}

#snowflakes-toggle {
  position: relative;
}

#snowflakes-toggle i {}

#snowflakes-toggle.active i {
  display: none;
}