:root {
  --c-christmas-green: #799351;
  --c-christmas-green-light: #A1DD70;
  --c-christmas-red: #EE4E4E;
  --c-christmas-beige: #F6EEC9;
}

/* Bottom snow piles */
#christmas-bottom {
  position: fixed;
  display: none;
  bottom: -5rem;
  left: 50%;
  width: 100%;
  max-width: calc(var(--container-width) + 12.1rem);
  transform: translateX(-50%);
  pointer-events: none;
  z-index: -2;
}

#christmas-bottom i {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 6.3rem;
  border-radius: 80%;
  background-color: white;
}

#christmas-bottom i:nth-child(2) {
  width: 14%;
  left: 20%;
}

#christmas-bottom i:nth-child(3) {
  width: 25%;
  left: 25%;
}

#christmas-bottom i:nth-child(4) {
  left: 40%;
}

#christmas-bottom i:nth-child(5) {
  left: auto;
  right: 20%;
}

#christmas-bottom i:nth-child(6) {
  left: auto;
  right: 0;
}

body.seasonal-active #christmas-bottom {
  display: block;
}

/* Tree */
#christmas-tree {
  position: fixed;
  display: none;
  bottom: -.75rem;
  left: 50%;
  width: 100%;
  height: 18.75rem;
  max-width: calc(var(--container-width) + 12.1rem);
  transform: translateX(-50%);
  background: no-repeat right/contain url('/images/christmas-tree.webp');
  pointer-events: none;
  z-index: -2;
}

body.seasonal-active #christmas-tree {
  display: block;
}

/* Falling snow */
#christmas-snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}

#christmas-snow i {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, .25));
}

header .christmas-toggle {
  position: relative;
  opacity: .5;
  transition: opacity .2s linear;
}

body.seasonal-active header .christmas-toggle {
  opacity: 1;
}