@use 'util';

.logo {
  position: relative;
  font-family: var(--ff-brand);
  font-weight: bold;
  line-height: 1;
  letter-spacing: -.07em;
  font-size: 15rem;
  padding-right: .15em;
  text-decoration: none;
}

.logo span {
  position: relative;
  display: inline-block;
  color: var(--c-white);
  text-shadow: .03em .03em 0 var(--c-primary);
  transition: .2s ease;
  backface-visibility: hidden;
}

a.logo:hover {
  span:not(:nth-child(1)) {
    padding: 0 .055em;
  }

  span:nth-child(1) {
    padding-right: .05em;
    transform: rotate(-6deg);
  }

  span:nth-child(2),
  span:nth-child(3) {
    transform: translate3d(0, -.033em, 0);
  }

  span:nth-child(4) {
    transform: rotate(8deg);
  }
}

/**
 * Logo helpers
 */
$letters: 4;

// span z-indexes
@for $i from $letters through 1 {
  .logo span:nth-child(#{$i}) {
    z-index: #{$letters - $i};
  }
}

/**
 * Theme
 */
@include util.themeStyles() {
  .logo span {
    color: var(--c-dark);
  }
}