header {
  --nav-link-gap: 2rem;
  --nav-link-pad-y: 1.25rem;

  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--nav-link-gap);
}

nav a {
  position: relative;
  display: flex;
  padding: var(--nav-link-pad-y) 0;
  font-family: var(--ff-title);
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  text-shadow: 0px 0px 4px #000;
  transition: .15s ease;
}

nav a.active {
  opacity: 1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, .6);
}