#nav_main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

#nav_main ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4rem;
}

#nav_main a:not(.logo) {
  position: relative;
  padding: .6rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}