.header-main {
  --nav-link-gap: 1.5rem;
  --nav-link-pad-y: .75rem;
  --nav-background: rgba(0, 0, 0, .3);
  --nav-border: rgba(255, 255, 255, .02);

  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  font-size: 1.1rem;
  overflow: hidden;
  z-index: 10;
}

.header-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--nav-background);
  border-bottom: 1px solid var(--nav-border);
  backdrop-filter: blur(3px);
}

.header-main_inner {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--nav-link-gap);
}

nav a {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-title);
  text-decoration: none;
  transition: color .3s linear;
}

nav a.active {
  color: var(--c-accent);
  text-shadow: 0 0 8px rgba(255, 255, 255, .5);
}

nav a:hover:not(.active) {
  text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

nav a.logo svg {
  width: 2rem;
  height: auto;
  fill: var(--c-white);
  transition: fill .3s linear;
}

nav a.logo.active svg {
  fill: var(--c-accent);
}

.nav-right {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.nav-right svg {
  width: 1.25rem;
  fill: var(--c-white);
}