.pages {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page {
  position: relative;
  display: none;
  flex-direction: column;
}

.page.active {
  display: flex;
}