.pages {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-top: var(--nav-height);
  flex-direction: column;
}

/* .page::before {
  content: "";
  position: absolute;
  top: var(--nav-height);
  left: 50%;
  width: 100%;
  max-width: var(--container-width);
  height: 100%;
  backdrop-filter: blur(3px);
  transform: translateX(-50%);
  pointer-events: none;
  z-index: -1;
} */