:root {
  /* Color vars */
  --c-dark: #111;
  --c-gray: #777;
  --c-light: #f9f9f9;

  --c-theme-black: #000;
  --c-theme-pink: #E90074;
  --c-theme-pink-light: #FF4191;
  --c-theme-yellow: #FFF078;

  /* Type vars */
  --ff-nunito: 'Nunito', Tahoma, Verdana, Arial, sans-serif;
  --ff-hostgrotesk: 'Host Grotesk', Tahoma, Verdana, Arial, sans-serif;

  /* Definition vars */
  --c-primary: var(--c-theme-pink);
  --c-primary-var: var(--c-theme-pink-light);
  --c-secondary: var(--c-theme-yellow);
  --c-accent: var(--c-black);
  --background: var(--c-dark);
  --font-color: var(--c-light);
  --ff-default: var(--ff-nunito);
  --ff-title: var(--ff-hostgrotesk);

  /* Definitions */
  color: var(--font-color);
  background: var(--background);

  font-family: var(--ff-default);
  line-height: 1.5;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* @FUTURE: themes */
  /* color-scheme: light dark; */
}

/**
 * Globals
 */
html {
  font-size: 100%;
}

body {
  width: 100%;
  font-size: 1.25rem;
}

main {
  width: 100%;
}

a {
  color: inherit;
}

/**
 * Type
 */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-title);
}

p+p {
  margin-top: 1.25rem;
}

/**
 * @FUTURE: Light Theme
 */
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--c-light);

    color: var(--c-dark);
  }
}