:root {
  --c-dark: #111;
  --c-light: #f9f9f9;

  --grad-blue-dark: radial-gradient(ellipse at bottom, #0a0a0a 0%, #000000 100%);

  --background: var(--grad-blue-dark);

  --ff-default: 'Nunito', Tahoma, Verdana, Arial, sans-serif;
  --ff-title: 'Host Grotesk', Tahoma, Verdana, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--c-light);
  background: var(--background);

  font-family: var(--ff-default);
  line-height: 1.5;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Globals
 */
html {
  font-size: 100%;
}

body {
  width: 100%;
  font-size: 1.25rem;
}

main {
  width: 100%;
}

/**
 * Type
 */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-title);
}

p+p {
  margin-top: 1.25rem;
}

/**
 * Light Theme
 */
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--c-light);

    color: var(--c-dark);
  }
}