:root {
  /* Colors */
  --c-black: #000;
  --c-white: #fff;

  --c-dark: #0a0a0a;
  --c-gray: #777;
  --c-light: #f9f9f9;

  --c-theme-black: #000;
  --c-theme-blue: #247be6;
  --c-theme-pink: #E90074;
  --c-theme-pink-light: #FF4191;
  --c-theme-yellow: #FFF078;

  /* Type */
  --ff-nunito: 'Nunito', Tahoma, Verdana, Arial, sans-serif;
  --ff-hostgrotesk: 'Host Grotesk', Tahoma, Verdana, Arial, sans-serif;

  /* Spacing */
  --nav-height: 4rem;
  --site-padding: 1rem;
  --content-width: 56.25rem;
  --container-width: calc(var(--content-width) + (var(--site-padding) * 2));

  /* Definitions */
  --c-primary: var(--c-theme-blue);
  --c-secondary: var(--c-theme-pink);
  --c-secondary-var: var(--c-theme-pink-light);
  --c-secondary: var(--c-theme-yellow);
  --c-accent: var(--c-theme-yellow);
  --background: var(--c-dark);
  --font-color: var(--c-light);
  --ff-default: var(--ff-nunito);
  --ff-title: var(--ff-hostgrotesk);

  /* Rules */
  color: var(--font-color);
  background: var(--background);
  background-attachment: fixed;

  font-family: var(--ff-default);
  line-height: 1.5;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* @FUTURE: themes */
  /* color-scheme: light dark; */
}

/**
 * Globals
 */
html {
  font-size: 100%;
}

body {
  width: 100%;
  font-size: 1.25rem;
  background-attachment: fixed;
}

main {
  width: 100%;
}

a {
  color: inherit;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/**
 * Type
 */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-title);
}

p+p {
  margin-top: 1.25rem;
}

/**
 * Utility
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.contain {
  max-width: var(--container-width);
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
  margin-left: auto;
  margin-right: auto;
}

/**
 * @FUTURE: Light Theme
 */
/* @media (prefers-color-scheme: light) {
  :root {
    --background: var(--c-light);

    color: var(--c-dark);
  }
} */