---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";

const { error } = Astro.props;
---

<BaseLayout pageTitle="Not Found">
  <section class="contain">
    <div class="center-full">
      <HeroText text="404" size={15} alt={true} />
    </div>

    <div class="h1 bg border">
      This <span class="bg-opposite no-pad">page doesn't exist</span>. Want to <a
        href="/">go back to the home page</a
      >?
    </div>
    <i class="spacer-2"></i>
  </section>
</BaseLayout>
