---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
import ContactPage from "@components/ContactPage.svelte";

const url =
  import.meta.env.MODE === "development"
    ? "http://localhost:3035/contact"
    : `${Astro.site?.origin?.replace("https://", "https://search.")}/contact`;
---

<BaseLayout pageTitle="Contact">
  <section class="contain">
    <div class="center-full">
      <HeroText text="Contact" size="14" />
    </div>
  </section>

  <ContactPage {url} client:load />
</BaseLayout>
