---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
---

<BaseLayout pageTitle="Not Found">
  <section class="contain">
    <div class="center-full">
      <HeroText text="Error" size={15} alt={true} />
    </div>

    <div class="h1 bg border">
      AaaAaAAAAAAHHH!!!!! There's been an <span class="bg-opposite no-pad"
        >error</span
      > and it looks like <span class="bg-opposite no-pad"
        >the site's gonna explode!</span
      > Hurry - <a href="/">go back to the home page!!</a>
    </div>
    <i class="spacer-2"></i>
  </section>
</BaseLayout>
