---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";

import { SITE } from "@constants";
---

<BaseLayout pageTitle="Home">
	<section class="contain">
		<div class="center-full">
			<HeroText text={SITE.TITLE} size={18} />
		</div>

		<div class="h3 bg-accent border">
			{SITE.DESCRIPTION}. <span class="bg-opposite no-pad"
				>Change the defaults in src/constants.ts</span
			>
		</div>

		<i class="spacer-1"></i>
	</section>
</BaseLayout>
