---
import { getEmojiFromCategory } from "@util";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
import NoteCard from "@components/NoteCard.astro";
import CollectionItem from "@components/CollectionItem.astro";

const notes = await getCollection("notes");
const sortedNotes = notes.sort(
	(a, b) =>
		new Date(b.data.updated || b.data.date) -
		new Date(a.data.updated || a.data.date),
);
---

<BaseLayout pageTitle="Home">
	<section class="contain">
		<div class="center-full">
			<HeroText text="JOSH" size={20} />
		</div>

		<div class="h2 border-opposite bg">
			Hi -
			<span class="bg-accent no-pad">welcome to my website!</span> I use it to
			<span class="bg-secondary no-pad"
				><a href="/likes">list some of the things I like</a></span
			>,
			<span class="bg no-pad"
				><a href="https://github.com/joshdplo?tab=repositories"
					>practice a bit of FE development</a
				></span
			>, and
			<span class="bg-quaternary no-pad"
				><a href="/notes">write down a few notes</a></span
			>. If you want to know more, <a class="bg-opposite no-pad" href="/about"
				>check out the about page</a
			>.
		</div>
	</section>

	<section class="contain featured">
		<div class="box notes">
			<h2 class="h3">
				{getEmojiFromCategory("notes")} Latest Notes
			</h2>
			<div class="inner">
				<NoteCard data={sortedNotes[0]} />
				<NoteCard data={sortedNotes[1]} />
			</div>
		</div>
		<div class="box movies">
			<h2 class="h3">
				{getEmojiFromCategory("movies")} Recently Watched
			</h2>
			<div class="inner">
				<CollectionItem category="movies" itemId="336843" />
				<CollectionItem category="movies" itemId="294254" />
				<CollectionItem category="movies" itemId="198663" />
				<CollectionItem category="movies" itemId="416477" />
			</div>
		</div>
		<div class="box shows">
			<h2 class="h3">
				{getEmojiFromCategory("shows")} Current Shows
			</h2>
			<div class="inner">
				<CollectionItem category="shows" itemId="1274" />
				<CollectionItem category="shows" itemId="86848" />
			</div>
		</div>
		<div class="box music">
			<h2 class="h3">
				{getEmojiFromCategory("bands")} Been Jamming To
			</h2>
			<div class="inner">
				<CollectionItem category="bands" itemId="2da7ehIX9lFyIDqmjqVZvS" />
				<CollectionItem category="radio" itemId="somafm_deepspaceone" />
			</div>
		</div>
		<div class="box games">
			<h2 class="h3">
				{getEmojiFromCategory("games")} Having Fun Playing
			</h2>
			<div class="inner">
				<CollectionItem category="games" itemId="2016590" />
				<CollectionItem category="games" itemId="1086940" />
			</div>
		</div>
	</section>
</BaseLayout>

<style lang="scss">
	@use "@css/util";

	.h2 {
		margin: 1.5rem 0 3rem;
	}

	.featured {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3rem;
		margin-top: 2.5rem;
	}

	.box {
		display: flex;
		flex-direction: column;
		gap: 0.7rem;

		@include util.mq(md) {
			&.movies {
				grid-row: span 2;
			}
		}

		.inner {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;

			:global(.collection-item) {
				margin: 0;
			}

			@include util.mq(sm) {
				grid-template-columns: 1fr 1fr;
			}
		}
	}

	h2 {
		border-bottom: 0.2em solid var(--font-color);
		padding-bottom: 0.35rem;
		margin-bottom: 0.2rem;
	}

	.notes {
		:global(.card) {
			border: 3px solid var(--content-subtle);
			border-radius: 0.15rem;
			padding: 0.7rem;
		}
	}
</style>
