---
import { TOTALS } from "@constants";
import { getEmojiFromCategory } from "@util";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
import NoteCard from "@components/NoteCard.astro";
import CollectionItem from "@components/CollectionItem.astro";

const notes = await getCollection("notes");
const sortedNotes = notes.sort(
	(a, b) =>
		new Date(b.data.updated || b.data.date) -
		new Date(a.data.updated || a.data.date),
);
---

<BaseLayout pageTitle="Home">
	<section class="contain">
		<div class="center-full">
			<HeroText text="JOSH" size={18} />
		</div>

		<div class="h2 border-opposite bg">
			Hi -
			<span class="bg-accent no-pad">welcome to my website!</span> I use it to
			<span class="bg-secondary no-pad"
				><a href="/likes">list some of the things I like</a></span
			>,
			<span class="bg no-pad"
				><a href="https://github.com/joshdplo?tab=repositories"
					>practice a bit of FE development</a
				></span
			>, and
			<span class="bg-quaternary no-pad"
				><a href="/notes">write down a few notes</a></span
			>
		</div>
	</section>

	<section class="contain featured">
		<div class="box bg border-quaternary">
			<h2 class="h3 bg-opposite">
				{getEmojiFromCategory("notes")} Latest Note
			</h2>
			<div class="push">
				<NoteCard data={sortedNotes[0]} />
			</div>
			<div class="buttons">
				<a href="/notes">All Notes</a>
				<a href="/notes/tags">Notes by Tag</a>
			</div>
		</div>
		<div class="box bg border-secondary">
			<div class="currently">
				<h2 class="h3 bg-opposite">
					{getEmojiFromCategory("movies")} Just Watched
				</h2>
				<div class="current">
					<CollectionItem category="movies" itemId="426063" />
				</div>
			</div>
			<div class="buttons">
				<a href="/likes/movies">All Movies</a>
			</div>
		</div>
		<div class="box bg border-secondary">
			<div class="currently">
				<h2 class="h3 bg-opposite">
					{getEmojiFromCategory("shows")} Current Show
				</h2>
				<div class="current">
					<CollectionItem category="shows" itemId="1274" />
				</div>
			</div>
			<div class="buttons">
				<a href="/likes/shows">All Shows</a>
			</div>
		</div>
		<div class="box bg border-secondary">
			<div class="currently">
				<h2 class="h3 bg-opposite">
					{getEmojiFromCategory("bands")} Been Jamming To
				</h2>
				<div class="current">
					<CollectionItem category="bands" itemId="2da7ehIX9lFyIDqmjqVZvS" />
				</div>
			</div>
			<div class="buttons">
				<a href="/likes/bands">All Bands</a>
			</div>
		</div>
		<div class="box bg border-secondary">
			<div class="currently">
				<h2 class="h3 bg-opposite">
					{getEmojiFromCategory("games")} Having Fun Playing
				</h2>
				<div class="current">
					<CollectionItem category="games" itemId="2016590" />
				</div>
			</div>
			<div class="buttons">
				<a href="/likes/games">All Games</a>
			</div>
		</div>
	</section>
</BaseLayout>

<style lang="scss">
	@use "@css/util";

	.featured {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
		margin-top: 1.5rem;

		@include util.mq(md) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.box {
		display: flex;
		flex-direction: column;
		gap: 0.7rem;
	}

	h2 {
		margin-bottom: 0.7rem;
		text-align: center;
	}

	.buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: center;
		margin-top: auto;
		padding: 0.35rem 0 0.15rem;

		a {
			line-height: 1;
			font-size: 1rem;
			padding: 0.3em 0.6em;
			border: 1px solid var(--font-color);
			border-radius: 3px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
</style>
