---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
---

<BaseLayout pageTitle="Home">
	<section class="contain">
		<div class="center-full">
			<HeroText text="JOSH" size={18} />
		</div>

		<div class="h2 bg-accent border">
			Hi!
			<span class="bg-opposite no-pad">Welcome to my website.</span> I use it to
			<span class="bg-secondary no-pad"
				><a href="/likes">list things I like</a></span
			>,
			<span class="bg no-pad"
				><a href="https://github.com/joshdplo?tab=repositories"
					>practice FE development</a
				></span
			>, and
			<span class="bg-quaternary no-pad"
				><a href="/notes">keep some public notes</a></span
			>.
		</div>

		<i class="spacer-1"></i>
	</section>
</BaseLayout>
