---
import { getCssClamp } from "@util";
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";

const size = 1.5;
const clamp = getCssClamp(
  (Math.floor((size / 1.2) * 100) / 100) * 16,
  size * 16,
);
---

<BaseLayout noSearch={true}>
  <section class="contain">
    <div class="center-full">
      <HeroText text="Search" color="tertiary" />
    </div>
    <i class="spacer-1"></i>
    <div class="search-box" style={`--search-size: ${clamp}`}>
      <input type="text" placeholder="Enter search term..." id="search" />
    </div>
  </section>
  <section id="results"></section>
</BaseLayout>

<script is:inline>
  // @TODO FIX THIS!!! =[
  async function pf() {
    // Pagefind init
    let pagefind = null;
    if (!pagefind) {
      pagefind = await import("/pagefind/pagefind.js");
      await pagefind.options({
        highlightParam: "highlight",
      });
      pagefind.init();
    }

    // Pagefind search
    const searchInput = document.querySelector("input#search");
    if (!searchInput) return;

    searchInput.addEventListener("keyup", async (e) => {
      if (!pagefind) return;
      const val = e.target.value.trim();
      if (val.length < 3) return;

      const results = await (
        await pagefind.debouncedSearch(val, {}, 500)
      )?.results;
      if (results) {
        for (const result of results) {
          const data = await result.data();
          console.log(val, data.meta.title, data.sub_results);
          // console.log(data, data.meta.title, data.excerpt);
          // populate DOM
        }
      }
    });
  }

  document.addEventListener("astro:page-load", () => {
    pf();
  });
</script>

<style lang="scss">
  @use "@css/util";

  .search-box {
    position: relative;
    display: flex;
    justify-content: center;

    input {
      border-width: 0.2em;
      font-size: var(--search-size);
      border-radius: 2rem;
      padding: 0.4em 0.6em;
      width: 75%;

      @include util.mq(sm) {
        width: 55%;
      }
    }
  }
</style>
