---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
import Search from "@components/Search.svelte";

const url =
  import.meta.env.MODE === "development"
    ? "http://localhost:3034/search"
    : `${Astro.site?.origin}/search`;
---

<BaseLayout>
  <div class="center-full">
    <HeroText text="Search" color="tertiary" />
  </div>

  <Search {url} client:load />
</BaseLayout>
