---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
import Search from "@components/Search.svelte";

const url =
  import.meta.env.MODE === "development"
    ? "http://localhost:3034/search"
    : `${Astro.site?.origin}/search`;
---

<BaseLayout>
  <section class="contain">
    <div class="center-full">
      <HeroText text="Search" color="tertiary" />
    </div>
    <i class="spacer-1"></i>
    <Search {url} client:load />
  </section>

  <style lang="scss">
    @use "@css/util";

    .search-box {
      position: relative;
      display: flex;
      justify-content: center;

      input {
        border-width: 0.2em;
        font-size: var(--search-size);
        border-radius: 2rem;
        padding: 0.4em 0.6em;
        width: 75%;

        @include util.mq(sm) {
          width: 55%;
        }
      }
    }
  </style>
</BaseLayout>
