---
import { getCssClamp } from "@util";
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";

const size = 1.5;
const clamp = getCssClamp(
  (Math.floor((size / 1.2) * 100) / 100) * 16,
  size * 16,
);
---

<BaseLayout>
  <section class="contain">
    <div class="center-full">
      <HeroText text="Search" color="tertiary" />
    </div>
    <i class="spacer-1"></i>
    <div class="search-box" style={`--search-size: ${clamp}`}>
      <input type="text" placeholder="Enter search term..." id="search" />
    </div>
  </section>
  <section id="results"></section>
</BaseLayout>

<script is:inline>
  async function searchInit() {
    if (window.location.pathname !== "/search") return;

    const searchInput = document.getElementById("search");
    searchInput.focus();

    console.log("search init");
  }

  document.addEventListener("astro:page-load", () => {
    searchInit();
  });
</script>

<style lang="scss">
  @use "@css/util";

  .search-box {
    position: relative;
    display: flex;
    justify-content: center;

    input {
      border-width: 0.2em;
      font-size: var(--search-size);
      border-radius: 2rem;
      padding: 0.4em 0.6em;
      width: 75%;

      @include util.mq(sm) {
        width: 55%;
      }
    }
  }
</style>
