---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
import SearchPage from "@components/SearchPage.svelte";

const notes = await getCollection("notes");
const totalNotes = notes.length;
const url =
  import.meta.env.MODE === "development"
    ? "http://localhost:3035/search"
    : `${Astro.site?.origin?.replace("https://", "https://search.")}/search`;
---

<BaseLayout pageTitle="Search">
  <div class="center-full">
    <HeroText text="Search" size="14" />
  </div>

  <SearchPage {url} {totalNotes} client:load />
</BaseLayout>
