---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroText from "@components/HeroText.svelte";
import SearchPage from "@components/SearchPage.svelte";

const url =
  import.meta.env.MODE === "development"
    ? "http://localhost:3034/search"
    : `${Astro.site?.origin?.replace("https://", "https://search.")}/search`;
---

<BaseLayout>
  <div class="center-full">
    <HeroText text="Search" color="tertiary" />
  </div>

  <SearchPage {url} client:load />
</BaseLayout>
