---
import { getCollection } from "astro:content";
import { getPageMenuLinksFromPath, getSingleItemCollectionPage } from "@util";
import CollectionLayout from "@layouts/CollectionLayout.astro";
import TMDBCard from "@components/TMDBCard.astro";
import SpotifyCard from "@components/SpotifyCard.astro";
import SteamCard from "@components/SteamCard.astro";

const pageMenuLinks = getPageMenuLinksFromPath("/likes");

const allTimeMoviesIds = [
  "10406", //encino man
  "348", //alien
  "563", //starship troopers
  "926", //galaxy quest
  "579974", //RRR
  "800937", //senior year
  "19995", //avatar
  "1648", //bill & ted 1
  "332270", //battle for sevastapol
];
const allTimeShows = [];
const allTimeSongs = [];

const allTimeMovies = await getCollection("movies", ({ id }) =>
  allTimeMoviesIds.includes(id),
);
const shows = await getCollection("shows");
const songs = await getCollection("songs");
const recentGames = await getCollection(
  "games",
  ({ data }) => data.recent === 1,
);

//@TODO put featured movies in to filter by and then display as mini={true}
---

<CollectionLayout
  pageTitle="likes lots of stuff 📋"
  heroText="Likes"
  {pageMenuLinks}
>
  <section class="contain">
    <h2 class="h4">
      <span class="bg no-pad">All-Time Movies</span>
    </h2>
    <div class="list list-tmdb">
      {allTimeMovies.map((m) => <TMDBCard data={m} mini={true} />)}
    </div>

    <h2 class="h4">
      <span class="bg no-pad">All-Time Shows</span>
    </h2>
    <div class="list list-tmdb"></div>

    <h2 class="h4">
      <span class="bg no-pad">All-Time Songs</span>
    </h2>
    <div class="list list-spotify"></div>

    <h2 class="h4">
      <span class="bg no-pad">Recently-Played Games</span>
    </h2>
    <div class="list list-steam"></div>
  </section>
</CollectionLayout>

<style lang="scss">
  h2 {
    margin-bottom: 0.8rem;
  }

  .list {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .list-tmdb {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
  }
</style>
